<html>
<head><meta http-equiv=Content-Type content="text/html; charset=UTF-8">
<style type="text/css">
<!--
span.cls_003{font-family:Arial,serif;font-size:24.8px;color:rgb(0,108,181);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_003{font-family:Arial,serif;font-size:24.8px;color:rgb(0,108,181);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_004{font-family:Arial,serif;font-size:17.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_004{font-family:Arial,serif;font-size:17.3px;color:rgb(0,0,0);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(0,108,181);font-weight:bold;font-style:normal;text-decoration: none}
div.cls_005{font-family:Arial,serif;font-size:12.0px;color:rgb(0,108,181);font-weight:bold;font-style:normal;text-decoration: none}
span.cls_006{font-family:Arial,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_006{font-family:Arial,serif;font-size:12.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_002{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_002{font-family:Arial,serif;font-size:11.0px;color:rgb(0,0,0);font-weight:normal;font-style:normal;text-decoration: none}
span.cls_007{font-family:Arial,serif;font-size:12.0px;color:rgb(0,108,181);font-weight:normal;font-style:normal;text-decoration: none}
div.cls_007{font-family:Arial,serif;font-size:12.0px;color:rgb(0,108,181);font-weight:normal;font-style:normal;text-decoration: none}
-->
</style>
<script type="text/javascript" src="92b4090c-735c-11eb-8b25-0cc47a792c0a_id_92b4090c-735c-11eb-8b25-0cc47a792c0a_files/wz_jsgraphics.js"></script>
</head>
<body>
<div style="position:absolute;left:50%;margin-left:-297px;top:0px;width:595px;height:841px;border-style:outset;overflow:hidden">
<div style="position:absolute;left:0px;top:0px">
<img src="92b4090c-735c-11eb-8b25-0cc47a792c0a_id_92b4090c-735c-11eb-8b25-0cc47a792c0a_files/background1.jpg" width=120 height=100></div>
<div style="position:absolute;left:166.45px;top:21.09px" class="cls_003"><span class="cls_003">Alejandro Zúñiga Pérez</span></div>
<div style="position:absolute;left:166.45px;top:50.87px" class="cls_004"><span class="cls_004">Electrical Engineer</span></div>
<div style="position:absolute;left:166.45px;top:92.50px" class="cls_005"><span class="cls_005">About me</span><span class="cls_006"> Electrical Engineering Senior Year student at Universidad de</span></div>
<div style="position:absolute;left:166.45px;top:106.94px" class="cls_006"><span class="cls_006">Costa Rica, specialized on Power Systems, Power Electronics, Power Trans-</span></div>
<div style="position:absolute;left:53.70px;top:112.53px" class="cls_002"><span class="cls_002">Alejandro Zúñiga</span></div>
<div style="position:absolute;left:166.45px;top:121.39px" class="cls_006"><span class="cls_006">mission and Control Systems modelling. Programming passionate, with</span></div>
<div style="position:absolute;left:109.99px;top:126.08px" class="cls_002"><span class="cls_002">Pérez</span></div>
<div style="position:absolute;left:166.45px;top:135.83px" class="cls_006"><span class="cls_006">knowledge on Oriented Objects Programming Languages.</span></div>
<div style="position:absolute;left:32.97px;top:139.68px" class="cls_002"><span class="cls_002">alezph96@gmail.com</span></div>
<div style="position:absolute;left:50.15px;top:153.23px" class="cls_002"><span class="cls_002">github/alejoeie</span></div>
<div style="position:absolute;left:54.19px;top:166.78px" class="cls_002"><span class="cls_002">+506 6155 6596</span></div>
<div style="position:absolute;left:166.45px;top:170.42px" class="cls_004"><span class="cls_004">Experience</span></div>
<div style="position:absolute;left:166.45px;top:198.74px" class="cls_005"><span class="cls_005">November 2019 - February 2020, Concentrix</span></div>
<div style="position:absolute;left:166.45px;top:213.18px" class="cls_006"><span class="cls_006">Customer Service Representative on technical support to AT&T cable ser-</span></div>
<div style="position:absolute;left:166.45px;top:227.63px" class="cls_006"><span class="cls_006">vices.</span></div>
<div style="position:absolute;left:166.45px;top:242.08px" class="cls_005"><span class="cls_005">January 2021-February 2021</span></div>
<div style="position:absolute;left:166.45px;top:256.52px" class="cls_006"><span class="cls_006">Electrical Machines I professor assistant. Electrical Machines modelling</span></div>
<div style="position:absolute;left:166.45px;top:270.97px" class="cls_006"><span class="cls_006">in Python and Fenics. Used gmsh with C scripts to model induction mo-</span></div>
<div style="position:absolute;left:166.45px;top:285.41px" class="cls_006"><span class="cls_006">tors. Responsible for giving virtual lessons in order to reinforce students’</span></div>
<div style="position:absolute;left:166.45px;top:299.86px" class="cls_006"><span class="cls_006">knowledge.</span></div>
<div style="position:absolute;left:166.45px;top:340.43px" class="cls_004"><span class="cls_004">Education</span></div>
<div style="position:absolute;left:166.45px;top:368.74px" class="cls_005"><span class="cls_005">2009 - 2014, High School</span></div>
<div style="position:absolute;left:166.45px;top:383.19px" class="cls_006"><span class="cls_006">International Baccalaureate Alumni.</span></div>
<div style="position:absolute;left:166.45px;top:403.61px" class="cls_005"><span class="cls_005">2015 - present, Universidad de Costa Rica</span></div>
<div style="position:absolute;left:166.45px;top:418.06px" class="cls_006"><span class="cls_006">Electrical Engineering, Power Systems emphasis. Advance: 96%. Look-</span></div>
<div style="position:absolute;left:166.45px;top:432.50px" class="cls_006"><span class="cls_006">ing for professional practice.</span></div>
<div style="position:absolute;left:166.45px;top:473.07px" class="cls_004"><span class="cls_004">Skills</span></div>
<div style="position:absolute;left:166.45px;top:501.38px" class="cls_005"><span class="cls_005">Languages</span></div>
<div style="position:absolute;left:166.45px;top:515.83px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> English (Advanced)</span></div>
<div style="position:absolute;left:296.93px;top:515.83px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Spanish (native)</span></div>
<div style="position:absolute;left:166.45px;top:536.25px" class="cls_005"><span class="cls_005">Programming languages</span></div>
<div style="position:absolute;left:166.45px;top:550.70px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Python</span></div>
<div style="position:absolute;left:296.93px;top:550.70px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> C/C++</span></div>
<div style="position:absolute;left:166.45px;top:565.14px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Java</span></div>
<div style="position:absolute;left:296.93px;top:565.14px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Javascript</span></div>
<div style="position:absolute;left:166.45px;top:585.57px" class="cls_005"><span class="cls_005">Computer software</span></div>
<div style="position:absolute;left:166.45px;top:600.01px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> GNU/Linux</span></div>
<div style="position:absolute;left:296.93px;top:600.01px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Git/SmartGit</span></div>
<div style="position:absolute;left:427.42px;top:600.01px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> HTML</span></div>
<div style="position:absolute;left:166.45px;top:614.46px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Matlab</span></div>
<div style="position:absolute;left:296.93px;top:614.46px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Fenics</span></div>
<div style="position:absolute;left:427.42px;top:614.46px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> CSS</span></div>
<div style="position:absolute;left:166.45px;top:628.91px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> PSS/E</span></div>
<div style="position:absolute;left:296.93px;top:628.91px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> ElmerFEM</span></div>
<div style="position:absolute;left:427.42px;top:628.91px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> AutoCAD</span></div>
<div style="position:absolute;left:166.45px;top:643.35px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> OrCAD</span></div>
<div style="position:absolute;left:296.93px;top:643.35px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Django</span></div>
<div style="position:absolute;left:427.42px;top:643.35px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Verilog</span></div>
<div style="position:absolute;left:166.45px;top:675.73px" class="cls_005"><span class="cls_005">Electrical Design</span></div>
<div style="position:absolute;left:166.45px;top:690.18px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> NFPA-70 National Electrical Code.</span></div>
<div style="position:absolute;left:166.45px;top:704.62px" class="cls_007"><span class="cls_007">◦</span><span class="cls_006"> Residential Electrical Design</span></div>
<div style="position:absolute;left:166.45px;top:737.00px" class="cls_005"><span class="cls_005">Interests</span></div>
<div style="position:absolute;left:166.45px;top:751.45px" class="cls_006"><span class="cls_006">Currently enrolled on Software Testing and containers (Docker, Kuber-</span></div>
<div style="position:absolute;left:166.45px;top:765.89px" class="cls_006"><span class="cls_006">netes) courses. Fully interested on Databases and software development.</span></div>
</div>

</body>
</html>
